.palette {
  border: 1px solid lightgrey;
  height: 125px;
  width: 90%;
}

.etch-a-sketch {
  border: 1px dotted black;
  height: 300px;
  width: 90%;
  border-radius: 5px;
}

fieldset {
  width: 86%;
}

fieldset, input, textarea {
  border-radius: 5px;
}

.story {
  width: 80%;
  height: 100px;
}

.saved-sketch, .the-sketch {

  border: 3px solid black;
  border-radius: 20px;
  float: left;
  margin: 5px;
}

.the-sketch svg {
  width: 100%;
  height: 100%;
}

.saved-sketch {
  width: 25%;
  zoom: .25;
}

.the-sketch {
  width: 100%;
  height: 300px;
}

/*.where-it-should-go {
  height: 100px;
  width: 90%;
  background-color: yellow;
}*/

.countries {
  fill: green;
  stroke: black;
  stroke-width: 1px;
}

.geolocation {
  height: 200px;
  width: 30%;
  background-color: antiquewhite;
  float: right;
}

/*.space {
  background-image: url("http://d2.static.dvidshub.net/media/thumbs/photos/1210/692947/463x486_q75.jpg");
}

.desert {
  background-image: url("http://www.nasa.gov/sites/default/files/styles/946xvariable_height/public/thumbnails/image/10359100_548449558611123_2372107906206127531_o.jpg?itok=V1drdIgV");
}*/
