.palette {
  border: 1px solid lightgrey;
  height: 125px;
  width: 90%;
}

.etch-a-sketch {
  border: 1px dotted black;
  height: 300px;
  width: 90%;
  border-radius: 5px;
}

fieldset {
  width: 86%;
}

fieldset, input, textarea {
  border-radius: 5px;
}

.story {
  width: 80%;
  height: 100px;
}

.saved-sketch, .the-sketch {
  width: 25%;
  border: 3px solid black;
  border-radius: 20px;
  float: left;
  margin: 5px;
}

svg {
  width: 100%;
}

.saved-sketch {
  width: 600px;
  zoom: .25;
}

.the-sketch {
  width: 350px;
  height: 350px;
}

.where-it-should-go {
  height: 100px;
  width: 90%;
  background-color: yellow;
}
