<h1>Sketcher</h1>
<p>
  Draw something freehand.<br>
  Or, use a turtorial. <br>
  Then save it. <br>
  With it's story, and location. <br>
  Find your past sketches, or find the sketches of a friend. <br>
  Sketch when you travel, and send back home something unique, instantaneously. <br>
</p>

<div class="studio">
  <div class="palette"></div>
  <div class="etch-a-sketch"></div>
</div>
